﻿@model PruebaUnops.Models.INCIDENCIA

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>INCIDENCIA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CLASIFICACION.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLASIFICACION.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESTADO.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTADO.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRIORIDAD.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRIORIDAD.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUARIO.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIO.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_INCIDENCIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_INCIDENCIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ASUNTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ASUNTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HORAS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HORAS)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_PRIORIDAD }) |
    @Html.ActionLink("Back to List", "Index")
</p>
